*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    
}

.about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px;

}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
}

img{
    width: 1100px;
    transform: rotate(-25deg);
}

h1{
    color: #101010;
    font-size: 36px;
    font-family: 'inter', sans-serif;
    font-weight: normal;
}

p{
    color: #101010;
    font-size: 16px;
    margin: 0;
    font-family: 'inter', sans-serif;
}